Repository diazona/setuptools-pyproject-migration, pull requests merged in 2023-08, with the labels that each got.

#50 Various improvements to the README file
  .pre-commit-config.yaml
  README.md
  setup.cfg
Labels: documentation

#45 Add support for author and maintainer fields
  src/setuptools_pyproject_migration/__init__.py
  tests/test_contributors.py
  tests/test_setup_command.py
  tests/test_transform_contributors.py
Labels: enhancement, setuptools-fields

#49 Add additional project URLs
  setup.cfg
Labels: documentation

#46 Issue 36: Implement entrypoint support
  src/setuptools_pyproject_migration/__init__.py
  tests/test_entry_points.py
  tests/test_setup_command.py
Labels: enhancement, good first issue, setuptools-fields

#54 Add contribution guidance in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#53 Add support for classifiers
  src/setuptools_pyproject_migration/__init__.py
  tests/test_classifiers.py
  tests/test_setup_command.py
Labels: enhancement, setuptools-fields

#57 Support the description field
  src/setuptools_pyproject_migration/__init__.py
  tests/test_setup_command.py
  tests/test_static_data.py
Labels: enhancement, setuptools-fields

#58 Support readme files
  src/setuptools_pyproject_migration/__init__.py
  tests/test_readme.py
  tests/test_setup_command.py
Labels: enhancement, setuptools-fields

#62 Support keywords
  src/setuptools_pyproject_migration/__init__.py
  tests/test_setup_command.py
  tests/test_static_data.py
Labels: enhancement, setuptools-fields

#65 Add support for requires-python
  docs/conf.py
  src/setuptools_pyproject_migration/__init__.py
  tests/test_requires_python.py
  tests/test_setup_command.py
Labels: enhancement, setuptools-fields

#67 Add a badge reflecting the status of the documentation build
  README.md
Labels: documentation, enhancement

#69 Add a console script to run the pyproject command
  README.md
  setup.cfg
  src/setuptools_pyproject_migration/cli.py
  tests/conftest.py
  tests/test_setup_command.py
Labels: enhancement

#66 Support URLs
  src/setuptools_pyproject_migration/__init__.py
  tests/test_setup_command.py
  tests/test_urls.py
Labels: enhancement, setuptools-fields

#70 Support optional dependencies
  src/setuptools_pyproject_migration/__init__.py
  tests/test_optional_dependencies.py
  tests/test_setup_command.py
Labels: enhancement, setuptools-fields
